@import "styles/Colors.module.scss";

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.pageTitle {
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
  color: $textDefault;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}
