// Add all the color constants here

// INDICATOR COLORS
$yellow: #f6dc7d;
$lemonGreen: #98d89e;
$red: #ee8484;
$violet: #6972c3;
$teal: #9bdd7c;
$green: #e9a0a0;

// BACKGROUND COLORS
$bgDefault: #ffffff;
$bgWhite: #ffffff;
$bgBlack: #000000;
$bgLightTeal: #ddefe0;
$bgLightYellow: #f4ecdd;
$bgLightRed: #efdada;
$bgLightViolet: #dee0ef;
$bgSubtle: #f5f5f5;
$bgDarkSubtle: #eaeaea;

// FONT COLORS
$textDefault: #000000;
$textWhite: #ffffff;
$textSubtle: #858585;
$placeholder: #b0b0b0;
$link: #346bd4;
$subtitle: #666666;
$info: #999999;
