// GLOBAL STYLES
:global {
  @import "./normalize.module.scss";

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    ::selection {
      color: initial;
      background: highlight;
    }
  }

  body {
    color: #333;
    background-color: #fff;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  #root {
    background: #ffffff;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
