// GLOBAL STYLES
:global {
  @import "./Normalize.module.scss";
  @import "./Colors.module.scss";

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    ::selection {
      color: initial;
      background: highlight;
    }
  }

  body {
    color: $textDefault;
    background-color: $bgSubtle;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  #root {
    background: $bgSubtle;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
